body {
  background-image: url(../assets/img/mexicanPoetry_RetroCosmos.png);
  background-size: contain;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 30px;
}
.container {
  margin: 120px auto;
  max-width: 600px;
  color: whitesmoke;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: white;
  letter-spacing: 1.5px;
  background-color: #845fe186;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
  border-radius: 10px;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: black;
}

.submit-button {
  margin-left: 20px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 30px;
  color: black;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  background-color: #b6a0ed;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  color: rgb(189, 55, 222);
}

a {
  color: rgb(55, 35, 74);
}
